.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
}

.child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.theme-box {
    background-color: #FFC0CB;
    color: #F5F0EA;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.theme-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.demo-img {
    background: url('/public/images/og-demo.png') center/contain no-repeat;
    width: 80%; /* Adjust as needed */
    height: 80vw; /* Adjust height as needed */
    max-width: 1000px; /* Limit maximum width if needed */
    margin: auto;
}

.child {
    background-color: #FFC0CB;
}
    
  

  
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .circle1 {
    background: radial-gradient(circle, #fff, #a0a0a0);
  }
  
  .circle2 {
    background: radial-gradient(circle, #fff, #b0b0b0);
  }
  
  .circle3 {
    background: radial-gradient(circle, #fff, #c0c0c0);
  }
  
  .circle4 {
    background: radial-gradient(circle, #fff, #d0d0d0);
  }
  
  .circle5 {
    background: radial-gradient(circle, #fff, #e0e0e0);
  }

  .gradient-img {
    background: url('/public/images/og-gradient.png') center/cover no-repeat;
    width: 100vw;
 bottom: 0;
    background-position: center bottom;

  }