.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
}

.child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.theme-box {
    background-color: grey;
    color: #F5F0EA;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.theme-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.demo-img {
    background: url('/public/images/og-demo.png') center/contain no-repeat;
    width: 80%;
    /* Adjust as needed */
    height: 80vw;
    /* Adjust height as needed */
    max-width: 1000px;
    /* Limit maximum width if needed */
    margin: auto;
}

.child {
    background-color: #FFC0CB;
} 

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle1 {
    background: radial-gradient(circle, #fff, #a0a0a0);
}

.circle2 {
    background: radial-gradient(circle, #fff, #b0b0b0);
}

.circle3 {
    background: radial-gradient(circle, #fff, #c0c0c0);
}

.circle4 {
    background: radial-gradient(circle, #fff, #d0d0d0);
}

.circle5 {
    background: radial-gradient(circle, #fff, #e0e0e0);
}

.circle6 {
    background: radial-gradient(circle, #fff, #f0f0f0);
}

.circle7 {
    background: radial-gradient(circle, #fff, #ffffff);
}

.circle8 {
    background: radial-gradient(circle, #fff, #000000);
}

.theme-img {
    width: 90vw;
}

.theme-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gradient-img-1 {
    background: url('/public/Gradient/star-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-2 {
    background: url('/public/Gradient/berry-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-3 {
    background: url('/public/Gradient/fall-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-4 {
    background: url('/public/Gradient/forest-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-5 {
    background: url('/public/Gradient/grainy-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-6 {
    background: url('/public/Gradient/ocean-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-7 {
    background: url('/public/Gradient/psycho-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-8 {
    background: url('/public/Gradient/solar-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.gradient-img-9 {
    background: url('/public/Gradient/starburst-gradient.png') center/cover no-repeat;
    width: 100vw;
    bottom: 0;
    background-position: center bottom;
    height: 100%;
}

.demo-img-1 {
    background: url('/public/images/og-demo.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;

}

.demo-img-2 {
    background: url('/public/Themes/berry-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-3 {
    background: url('/public/Themes/fall-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-4 {
    background: url('/public/Themes/forest-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-5 {
    background: url('/public/Themes/grainy-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-6 {
    background: url('/public/Themes/ocean-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-7 {
    background: url('/public/Themes/psycho-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-8 {
    background: url('/public/Themes/solar-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.demo-img-9 {
    background: url('/public/Themes/starburst-theme.png') center/cover no-repeat;
    width: 80%;
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}