/* Started1.css */

.parent {
  display: flex;
  height: 100vh;
}

.child {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.started2-box {
  background-color: #FFC0CB;
  color: #F5F0EA;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.started2-text {
  margin-bottom: 20px;
}

.started2-text h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.started2-text p {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.started2-text select,
.started2-text input {
  margin-top: 10px;
  margin-bottom: 20px;
  /* Add margin-bottom for spacing */
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #F5F0EA;
  border-radius: 5px;
}

.started2-text input {
  margin-top: 10px;
  width: 80%;
}

.started2-text button.btn {
  margin-top: 20px;
  /* Add margin-top for spacing */
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #F5F0EA;
  /* Green color for the button */
  color: #4D4966;
  cursor: pointer;
}

.started2-text button.btn:hover {
  background-color: #4D4966;
  color: #F5F0EA;
}


/* Media query for medium or larger screens */
@media only screen and (min-width: 768px) {
  .started2-box {
    width: 60%;
    /* Adjust the width for medium or larger screens */
  }

  .started2-text select,
  .started2-text input {
    width: 60%;
    /* Adjust the width for medium or larger screens */
  }

  .started2-text input {
    width: 60%;
    /* Adjust the width for medium or larger screens */
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 1024px) {
  .started2-box {
    width: 40%;
    /* Adjust the width for larger screens */
  }

  .started2-text select,
  .started2-text input {
    width: 50%;
    /* Adjust the width for larger screens */
  }

  .started2-text input {
    width: 50%;
    /* Adjust the width for larger screens */
  }
}