body {
  margin: 0;
  /* overflow: hidden; */
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .child:nth-child(1) {
  flex: 1;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
} */

/* .child:nth-child(2) {
  flex: 1;
  background-color: red; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}  */

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-half {
  flex: 1;
  background: url('/public/images/og-gradient.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.right-half {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  /* height: 100%; */
}

.demo-img {
  background: url('/public/images/og-demo.png') center/cover no-repeat;
  width: 50%;
  max-height: 100vh;
}

.welcome-box {
  background-color: #FFC0CB;
  color: #F5F0EA;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.welcome-text {
  margin-bottom: 20px;
}

.welcome-text h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.welcome-text p {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  color:#F5F0EA;
  background-color: #4D4966;
}



@media screen and (max-width: 1024px) {
    
  .left-half {
    flex: 2;
  }
  
  .right-half {
    display: none; /* Hide on iPad and smaller */
  }
  
}




